@font-face {
  font-family: 'Antiga';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Antiga-Regular.woff');
}

@font-face {
  font-family: 'MonumentGrotesk';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ABCMonumentGrotesk-Regular-Trial.woff');
}

@font-face {
  font-family: 'CardinalFruit';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/CardinalFruit-Regular.woff2')
}

@font-face {
  font-family: 'CardinalFruit';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/CardinalFruit-Italic.woff2');
}
