:root {
  // COLORS
  --color-white: #eeeae6;
  --color-black: #151515;
  --color-grey-light: #bbc0c4;
  --color-grey: #565554;
  --color-blue-light: #bcc6c5;
  --color-blue: #2f3f4c;
  --color-blue-dark: #192b39;
  --color-line-white: rgba(238, 234, 230, 0.2);
  --color-line-black: rgba(21, 21, 21, 0.2);
  // FONTS
  --font-antiga: 'Antiga', helvetica, arial, sans-serif;
  --font-monument-grotesk: 'MonumentGrotesk', helvetica, arial, sans-serif;
  --font-cardinal-fruit: 'CardinalFruit', helvetica, arial, sans-serif;
}
